<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>Krojaci</title>

        <link rel="stylesheet" href="style.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
           
        </style>
    </head>

    <body>

        <form action="/registracija" method="POST" name="loginForm">
            Registracija
            <label for="ime">Ime: </label><input id="ime" type="text" name="ime" placeholder="..."/>
            <label for="prezime">Prezime: </label><input id="prezime" type="text" name="prezime" placeholder="..."/>
            <label for="kIme">Korisničko ime: </label><input id="kIme" type="text" name="korisnickoIme" placeholder="..."/>
            <label for="email">Email: </label><input id="email" type="email" name="email" placeholder="..."/>
            <label for="tel">Telefon: </label><input id="tel" type="number" name="tel" placeholder="..."/>
            <label for="lozinka">Lozinka: </label><input id="lozinka" type="password" name="lozinka" placeholder="..."/>
            <input type="submit" value="Registriraj se"/>
        </form>
        <button onclick="location.href = '/';">Prijava</button>
        


    </body>


</html>